
<!DOCTYPE html>

<html lang="en">


<head>

<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
{% block title %}
Dawood Analytics | ERP Development, Data Analytics & Financial Solutions
{% endblock %}
</title>

<link rel="icon"
href="{{ url_for('static', filename='images/favicon.ico') }}">




<meta name="description"
content="
{% block description %}
Dawood Analytics provides professional ERP development,
business intelligence, data analytics, financial reporting,
and automation solutions for modern businesses.
{% endblock %}
">


<meta name="keywords"
content="
ERP Development,
Data Analytics,
Business Intelligence,
Financial Solutions,
Python Automation,
Business Automation
">


<meta name="author"
content="Dawood Analytics">



<!-- Open Graph Social Sharing -->


<meta property="og:title"
content="{% block og_title %}
Dawood Analytics | ERP & Data Solutions
{% endblock %}">



<meta property="og:description"
content="{% block og_description %}
Transforming Business Data into Intelligent Decisions.
{% endblock %}">



<meta property="og:type"
content="website">



<meta property="og:image"
content="{% block og_image %}
{{ url_for('static',
filename='images/data_platform.png',
_external=True) }}
{% endblock %}">



<meta name="twitter:card"
content="summary_large_image">


<meta name="twitter:title"
content="{% block twitter_title %}
Dawood Analytics
{% endblock %}">


<meta name="twitter:description"
content="{% block twitter_description %}
ERP Development and Data Analytics Solutions.
{% endblock %}">



<!-- Google Font -->

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" 
rel="stylesheet">



<!-- Font Awesome Icons -->

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">



<!-- Animation Library -->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" 
rel="stylesheet">



<!-- Website CSS -->

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">


</head>



<body>


<!-- Navigation -->

<nav class="navbar">


<div class="logo">

Dawood Analytics

</div>



<div class="menu-toggle">

<i class="fa-solid fa-bars"></i>

</div>



<ul class="nav-links">


<li>
<a class="nav-link active" href="#home">Home</a>
</li>


<li>
<a class="nav-link" href="#services">Services</a>
</li>


<li>
<a class="nav-link" href="#projects">Projects</a>
</li>


<li>
<a class="nav-link" href="#contact">Contact</a>
</li>


</ul>


</nav>



{% block content %}

{% endblock %}



<!-- Animation Script -->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<script>

AOS.init();

</script>



<!-- Website Script -->

<script src="{{ url_for('static', filename='js/script.js') }}"></script>




<footer class="footer">


<div class="footer-container">



<div class="footer-brand">


<h3>
Dawood Analytics
</h3>


<p>

ERP Development |
Data Analytics |
Financial Solutions

</p>


</div>




<div class="footer-links">


<h4>
Quick Links
</h4>


<a href="#">
Home
</a>


<a href="#">
Services
</a>


<a href="#">
Projects
</a>


<a href="#">
Contact
</a>


</div>




<div class="footer-social">


<h4>
Connect
</h4>


<a href="#">
<i class="fa-brands fa-linkedin"></i>
</a>


<a href="#">
<i class="fa-brands fa-github"></i>
</a>


<a href="#">
<i class="fa-brands fa-whatsapp"></i>
</a>


</div>



</div>



<div class="footer-bottom">


<p>

© 2026 Dawood Analytics. All Rights Reserved.

</p>


</div>



</footer>


</body>


</html>
